<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  <div class="page col-lg-6 col-md-8 col-sm-12">
  <h1 class="display-1 m-5">Todo-Liste</h1>
  

<div class="todolist m-5">
<table class="table">
  <tr>
    <th>Text</th>
    <th>Kategorie</th>
    <th>Status</th>
  </tr>
  {% for item in items %}
  <tr>
    <td>{{item.text}}</td>
    <td>{{item.category.name}}</td>
    <td>{{item.translation}}</td>
  </tr>
    
  {% endfor %}
</table>
</div>

<!--
Hausaufgabe (Idee): 
  - Kategorie wählbar
  - Neue Kategorie anlegbar
  - Noch besser: Kategorie wählbar oder mit Freitext, bei unbekannter Kategorie wird sie automatisch angelegt.
-->
<div class="addform form m-5">
  <form action="{% url 'add' %}" method="POST">
    {% csrf_token %}
    <label for="text" class="form-label">Text: </label>
    <input class="form-control" type="text" value="" id="text" name="text"><br/>
    <input class="btn btn-danger" type="submit" value="Neu anlegen">
  </form>
</div>

  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
