<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>

</head>

<body>
<h1>TinyMCE Quick Start Guide</h1>
<form method="post" action="{% url 'tinymceeditor:index' %}">
    {% csrf_token %}
    <textarea id="mytextarea" name="mytextarea">Hello, World!</textarea>
    <button>Submit</button>
</form>
<div>
    <h2>Result</h2>
    <p>{{ result }}</p>
</div>

<h2> All notes</h2>
{% for note in notes %}
    <div>
        <p>
            {{ note.created_at }}
        </p>
        <p>
            {% autoescape off %}
            {{ note.note }}
            {% endautoescape %}
        </p>
    </div>
{% endfor %}
</body>
</html>
