{% extends "highscore/base.html" %}

{% block content %}

<h1>Highscore</h1>


<div class="boardform">
  <form action="{{ action }}" method="POST">
    {% csrf_token %}
    Title: <input type="text" name="title" value="{{ board.title }}"><br>
    Short Description: <input type="text" name="short_description" value="{{ board.short_description }}"><br>
    <input type="submit" name="submit" value="Save">
  </form>
</div>

{% endblock %}

