{% extends "highscore/base.html" %}

{% block content %}

<h1>Highscore</h1>

<div class="create">
<a class="btn btn-primary" href={% url "create" %}>Neues Leaderboard</a>
</div>

<div class="boardtable">
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Number of submissions</th>
    </tr>
    {% for board in boards %}
    <tr>
      <td><a href="{% url "view" board.id board.password%}">{{board.title}}</a></td>
      <td>{{board.short_description}}</td>
      <td>{{board.score_set.count}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
