{% extends "highscore/base.html" %}

{% block content %}

<h1>Highscore</h1>

<ul>
  <li><strong>Title:</strong> {{ board.title }}</li>
  <li><strong>Description:</strong> {{ board.short_description }}</li>
  <li><strong>Comment:</strong> {{ board.comment }}</li>
  <li><strong>ID and Submission Password:</strong> {{board.id}}/{{board.password}}</li>
  <li><strong>API Link:</strong> <a href="{% url "api_v1_boards" board.id board.password %}">Right click to copy!</a></li>

<div class="boardtable">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Time</th>
      <th>Submitted at</th>
    </tr>
    {% for score in scores %}
    <tr>
      <td>{{score.name}}</td>
      <td>{{score.score}}</td>
      <td>{{score.time}}</td>
      <td>{{score.created}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
