{% extends "einkaufsliste/base.html" %}
{% load static %}
{% block content %}
  
  <a class="display-4 mr-2" href="{% url "index" %}">&lt;</a>
  <span class="display-4">{{geschaeft.name}}</span>
  <a class="float-right pt-4 pr-4" href="{% url "geschaeft_bearbeiten" geschaeft.id %}"><img src="{% static "einkaufsliste/pencil.png" %}" width="20"></a><br> 
  {% include "einkaufsliste/eintrags_tabelle.html" %}
{% endblock %}
  
