{% extends "einkaufsliste/base.html" %}
{% block content %}
  
<p>Bist du sicher, dass du das Geschäft {{geschaeft.name}} löschen willst?
  Einträge werden nicht gelöscht.
</p>
  <form action="{% url "geschaeft_bearbeiten" geschaeft.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="confirmed">
    <a class="btn btn-secondary" href="{% url "geschaeft_bearbeiten" geschaeft.id %}">Abbrechen</a>
    <input class="btn btn-danger" type="submit" name="delete" value="Löschen">
  </form>
{% endblock %}
