{% extends "einkaufsliste/base.html" %}
{% block content %}
  
    
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark"><strong>Listen</strong></li>
      {% for liste in listen %}
      <li class="list-group-item"><a href="{% url 'liste' liste.id %}">{{liste.name}}</a><span class="ml-3 badge badge-secondary">{{liste.erledigt}} / {{liste.anzahl}}</span></li>
      {% endfor %}
      <li class="list-group-item">
        <form action="{% url 'liste_anlegen' %}" method="post">
          {% csrf_token %}
          <div class="input-group">
            <input class="form-control" type="text" name="liste_name">
            <input class="btn btn-primary ml-1" type="submit" value="Hinzufügen">
          </div>
        </form>
      </li>
    </ul>
    <div class="mb-4"></div>
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark"><strong>Geschäfte</strong></li>
      {% for geschaeft in geschaefte %}
      <li class="list-group-item"><a href="{% url 'geschaeft' geschaeft.id %}">{{geschaeft.name}}</a></li>
      {% endfor %}
      <li class="list-group-item">
        <form action="{% url 'geschaeft_anlegen' %}" method="post">
          {% csrf_token %}
          <div class="input-group">
            <input class="form-control" type="text" name="geschaeft_name">
            <input class="btn btn-primary ml-1"type="submit" value="Hinzufügen">
          </div>
        </form>
      </li>
    </ul>
{% endblock %}
