{% extends "einkaufsliste/base.html" %}
{% block content %}
  
  <form action="{% url "liste_bearbeiten" liste.id %}" method="post">
    {% csrf_token %}
    <label for="liste_name">Name</label>
    <input class="form-control" type="text" name="liste_name" value="{{liste.name}}" id="liste_name"><br>
    <div class="input-group">
    <input class="btn btn-danger" type="submit" name="delete" value="Löschen">
    <a class="btn btn-secondary mx-2" href="{% url "liste" liste.id %}">Abbrechen</a>
    <input class="btn btn-primary" type="submit" name="save" value="Speichern">
    </div>

  </form>
  
{% endblock %}
