{% extends "einkaufsliste/base.html" %}
{% load static %}
{% block content %}
  
  <a class="display-4 mr-2" href="{% url "index" %}">&lt;</a>
  <span class="display-4">{{liste.name}}</span>
  <a class="float-right pt-4 pr-4" href="{% url "liste_bearbeiten" liste.id %}"><img src="{% static "einkaufsliste/pencil.png" %}" width="20"></a><br> 
  {% include "einkaufsliste/eintrags_tabelle.html" %}
  <div class="card">
    <div class="card-body">
    <h3 class="card-title">Summe</h3>
    <p class="card-subtitle">{{ summe }} Euro</p>
    </div>
  </div>
{% endblock %}
