<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uhrzeit</title>
</head>
<body>
    Hallo {{cute_name}}, die Uhrzeit ist: {{uhrzeit}}
</body>
</html>
