{% load spotify_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <h1>Spotify</h1>
  <table class="table">
    <tr>
      <th>Titel</th>
      <th>Künstler</th>
      <th>Genre</th>
      <th>Gespielt am</th>
      <th>Tools</th>
    </tr>

    {% for rt in recent %}
    <tr>
      <td>{{ rt.track.name }}</td>
      <td>{% for artist in rt.track.artists.all %}
          {{ artist.name }}
          {{ artist.genres }}
          {%  if not forloop.last == True %},{% endif %}
          {% endfor  %}
      </td>

      <td>{{rt.played_at | date:"d.m H:i" }}</td>
      <td><a href="{{rt.track.spotify_id }}">Spielen</a></td>
    </tr>
    {% endfor %}
  </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
