<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <div class="menu">
        <ul>
            <li>Seite 1</li>
            <li>Seite 2</li>
        </ul>
    </div>
    <div class="content">
    {% block content %}
    Leer... sollte nie zu sehen sein.
    {% endblock %}
    </div>
    
</body>
</html>