{% extends "polls/base.html" %}

{% block content%}
    <h1>Hallo {{name}}</h1>
    <p>Wie geht es <b>Ihnen</b>?</p>

    <h2>Wer war schon da?</h2>
    <ul>
        {% for person in persons %}
        <li>{{person.name}}</li>
        {% endfor %}
    </ul>
    <form action="/polls/hallo" method="GET">
        <input type="text" name="name">
        <input type="submit" value="Eintragen">
    </form>
{% endblock %}
