<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textadventure</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <body>

    <div class="container mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{station.title}}</h5>
          <p class="card-text">{{station.text}}</p>
          <div class="input-group">
            {% for choice in choices %}
            <form action="{% url 'station' choice.next_station.name %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="choice" value="{{choice.id}}">
              <input type="submit" class="btn btn-primary" value="{{choice.text}}">
            </form>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
