{%  extends 'payback/base.html' %}
{%  load static %}

{% block content %}
      <h1>Payback!</h1>

      <h2>Wer muss zahlen?</h2>
      {{ who_is_next }}
      <h2>Benutzer</h2>
      <table class="table">
          {% for user in users %}
              <tr>
                  <td><a href="{% url 'user_detail' id=user.id %}">{{ user.name }}</a></td>
                  <td>{{ user.get_saldo }}</td>
              </tr>
          {% endfor %}
      </table>

      <h2>Zahlungen</h2>
      <table class="table">
          {% for payment in payments %}
              <tr>
                  <td>{{ payment.from_user.name }}</td>
                  <td>{{ payment.description }}</td>
                  <td>{{ payment.amount }} Euro</td>
                  <td>{{ payment.for_users_string }}</td>
              </tr>
          {% endfor %}
      </table>

      <a class="btn btn-primary" href="{% url 'user_add' %}"><i class="bi bi-person-plus"></i> User hinzuf&uuml;gen</a>
{% endblock %}
