{%  extends 'payback/base.html' %}
{%  load static %}

{% block content %}
    <h1> Nutzer hinzuf&uuml;gen</h1>
<form action="{% url 'user_store' %}" method="post">
        {% csrf_token %}
    <label class="form-label" for="name">Username</label>
        <input class="form-control" name="name" id="name" required />
        <input class="btn btn-primary mt-3" type="submit" value="Hinzuf&uuml;gen">
    </form>
{%  endblock %}
