{%  extends 'payback/base.html' %}
{%  load static %}

{% block content %}

<h1>User detail</h1>
<p> Name: {{ user.name }}</p>
<p>Saldo: {{ user.get_saldo }}&euro;</p>

<h2>Zahlungen</h2>
      <table class="table">
          {% for payment in payments %}
              <tr>
                  <td>{{ payment.description }}</td>
                  <td>{{ payment.amount }} Euro</td>
                  <td>{{ payment.for_users_string }}</td>
              </tr>
          {% endfor %}
      </table>

    <a href="{%  url 'index' %}" class="btn btn-secondary"><i class="bi bi-arrow-left-short"></i>Zurück</a>

    {% if not deleteable %}
    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Sie können den Nutzer nicht löschen wenn der Saldo nicht null ist oder er and payments beteiligt ist.">
    <button type="button" class="btn btn-danger" disabled>
        <i class="bi bi-person-fill-dash"></i>User löschen
    </button>
    </span>
    {% else %}
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        <i class="bi bi-person-fill-dash"></i>User löschen
    </button>
    {% endif %}
    <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Nutzer löschen</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Willst du diesen Nutzer löschen?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Nein</button>
        <a href="{%  url 'user_delete' id=user.id %}" class="btn btn-danger" type="button">User Löschen</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}