<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  Zettelkasten
  
  <h3>Zettel</h3>
  <div class="container">
  {% for note in notes %}
      <div class="note">
        {{note}}
      </div>
  {% endfor %}
  </div>

  <div class="categories">
    <ul>
    {% for tagtype in tagtypes %}
    <li>{{tagtype}}: <ul>
        {% for tag in tagtype.tags.all %}
        <li><a href="/zettelkasten/filtered/{{tag.id}}/">{{tag}}</a></li>

        {% endfor %}

    </ul></li>
    {% endfor %}
    </ul>
  </div>


</body>
</html>
