<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<h1>Image Upload</h1>
<form method="post" enctype="multipart/form-data" action="{% url 'uploader:index' %}">
    {% csrf_token %}
    <input type="file" name="image" id="image" />
    <button>Submit</button>
</form>
<hr />
<h2> All Images</h2>
{% for image in images %}
    <div>
        <p>
            {{ image.created_at }}
        </p>
        <p>
            <img src="{{ image.image_file.url }}" alt="{{ image.created_at }}" width="100px" height="auto"/>
        </p>
    </div>
{% endfor %}
</body>
</html>
